<html>
<head>
  <title>Receive orders in restaurant with BlinknEat </title>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

  <link rel="stylesheet" href="css/devices.min.css" type="text/css">


  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="css/new-age.css" rel="stylesheet">



  <link rel="shortcut icon" type="image/x-icon" href="img/tray-logo.png" />



</head>





<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">

    <img class="logo" src="benefits-icons/logo.svg">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-4">
        <li class="nav-item">
          <!-- Must change the href -->
          <a class="nav-link js-scroll-trigger ml-5" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger ml-5" href="#benefits">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger ml-5" href="#contactus">Contact us</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<header id = "home" class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">

        <div class="headers-change">
          <div>
        <div class="header-content mx-auto">
          <h1 class="mb-5">Take your restaurant to the next level with BlinknEat!</h1>
          <h4 class = "mb-4"> Enable your customers to order and pay from their mobile inside your restaurant and collect valuable feedback from their dining experience </h4>
          <a href="#contactus" class="btn btn-outline btn-xl js-scroll-trigger">Contact us and get a free trial</a>
        </div>
      </div>

          <div>
            <div class="header-content mx-auto">
              <h1 class="mb-5">Let your customers browse your menu</h1>
              <h4 class = "mb-4">You will be able to provide daily reccommendations and special offers to your customers</h4>
              <a href="#contactus" class="btn btn-outline btn-xl js-scroll-trigger">Contact us and get a free trial</a>
            </div>
          </div>

          <div>
            <div class="header-content mx-auto">
              <h1 class="mb-5">Notes and collection</h1>
              <h4 class = "mb-4">Enable your customers to leave notes regarding their orders and collect money through credit card payment!</h4>
              <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Contact us and get a free trial</a>
            </div>
          </div>

          <div>
            <div class="header-content mx-auto">
              <h1 class="mb-5">Create a comfortable dining experience for your guests</h1>
              <h4 class = "mb-4">Your guests will be able to call the waiter and reorder menu items with just one click!</h4>
              <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Contact us and get a free trial</a>
            </div>
          </div>


          <div>
            <div class="header-content mx-auto">
              <h1 class="mb-5">Collect reviews</h1>
              <h4 class = "mb-4">Analyze the reviews made by your guests and get insights into your menu items.</h4>
              <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Contact us and get a free trial</a>
            </div>
          </div>

        </div>
      </div>

      <div  id = "laphone" class=" col-lg-5 my-auto">

        <div class="device-container">
          <div class="device-mockup iphone6 portrait white">
            <div class="device">
              <div  class="sreen">
              <div class="screen-slider">
                <div><img  class="img-fluid" src="img/check-in.png"></div>
                <div><img  class="img-fluid" src="img/menu.png"></div>
                <div><img  class="img-fluid" src="img/confirmation.png"></div>
                <div><img  class="img-fluid" src="img/waiting.png"></div>
                <div><img  class="img-fluid" src="img/review.png"></div>


              </div>
            </div>
          </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</header>

<section class="features" id="features">
  <div class="container" >
    <div class="section-heading text-center">
        <h2>Wanna checkout how your restaurant can be benefited from self service ordering?</h2>
      <p class="text-muted">Checkout BlinknEat benefits!</p>
      <hr >
      <div id = "benefits">

      </div>
    </div>
    <div  class="row">
      <div class="col-lg-12 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <div class="feature-item">
                <img class = "benefits-icons" src="benefits-icons/disk.svg" alt="Kiwi standing on oval">
                <h3>Improve your service</h3>
                <p class="text-muted">Each user will be able to order on the spot without the help of the waiter</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-item">
                <img class = "benefits-icons" src="benefits-icons/loyalty.svg" alt="Kiwi standing on oval">
                <h3>Create brand loyalty</h3>
                <p class="text-muted">Create repeat customers by offering them rewards</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-item">
                <img class = "benefits-icons" src="benefits-icons/table.svg" alt="Kiwi standing on oval">
                <h3>Increase table turnover</h3>
                <p class="text-muted">Customers will be able to order and pay faster!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="feature-item">
                <!-- must complete the alts -->
                <img class="benefits-icons" src="benefits-icons/gift.svg" alt="">
                <!--
                <i class="icon-present text-primary"></i>
                -->
                <h3>Feedback</h3>
                <p class="text-muted">Understand your customers and menu better, by analyzing their reviews</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-item">
                <img class="benefits-icons" src="benefits-icons/orders.svg" alt="">
                <h3>More orders</h3>
                <p class="text-muted">Increase your orders by 50-70% indicated by our research</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-item">
                <img class="benefits-icons" src="benefits-icons/error.svg" alt="">
                <h3>Reduce waiters mistakes</h3>
                <p class="text-muted">Waiters will focus on creating a pleasant experience to the customer, by focusing on the important stuff!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="contact" class="bg text-center">
  <div class="container">
    <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

      <div id = "contactus" class="col-xs-12">
        <article>
          <div class="form-content">
            <div class="title-section">

              <h2>Request a Demo</h2>
              <h4>We will answer any questions you have and will drive you through the process of how to use BlinknEat at its full potential. There is no commitment by filling the form we will get back to you as soon as possible! </h4>
            </div>
            <form id="takeoutForm">
              <input type="hidden" id="txtUrl" name="txtUrl" value="">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Name <sup>*</sup></label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="">
                </div>
                <div class="form-group">
                  <label for="restaurant-name">Restaurant name <sup>*</sup></label>
                  <input type="text" class="form-control" id="restaurant-name" name="restaurant-name" placeholder="">
                </div>
                <div class="form-group">
                  <label for="email">E-mail <sup>*</sup></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">City <sup>*</sup></label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="">
                </div>
                <div class="form-group">
                  <label for="country">Country <sup>*</sup></label>
                  <input type="text" class="form-control" id="country" name="country" placeholder="">
                </div>
                <div class="form-group">
                  <label for="phone-number">Phone number <sup>*</sup></label>
                  <input type="number" class="form-control" id="phone-number" name="phone-number" placeholder="">
                </div>
              </div>


            </form>
          </div>
          <div class="col-md-12">
            <div class="button-content">
              <p>
                <button id="submit"  class="btn btn-primary btn-md" onclick="sendMail()">SUBMIT</button>
              </p>
            </div>
            <div id="form-messages" class="alert"></div>
          </div>
        </article>
      </div>

    </div>
  </div>
</section>





<footer>
  <div class="container">
    <div class="row">

      <div class="col-xs-2 col-centered">
        <div class="page-footer__card">
          <div class="page-footer__card-content">
            <h4>Info</h4>
            <ul class="page-footer--link-list">
              <!-- <li><a>FAQ</a></li> -->
              <li><a>Sitemap</a></li>
              <!-- <li><a>Restaurant login</a></li> -->
              <li><a>Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-2 col-centered">
        <div class="page-footer__card">
          <div class="page-footer__card-content">
            <h4>Address</h4>
            <ul class="page-footer--link-list">
              <li><a>776-778 BARKING ROAD</a></li>
              <li><a>LONDON</a></li>
              <li><a>E13 9PJ</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-2 col-centered">
        <div class="page-footer__card">
          <div class="page-footer__card-content">
            <h4>Contact us</h4>
            <ul class="page-footer--link-list">
              <li><a>Phone : ++44 7951656043</a></li>
              <li><a>Email : info@blinkneat.com</a></li>
            </ul>
          </div>
        </div>
      </div>

      </div>


  </div>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>

<script src="vendor/popper/popper.min.js"></script>

<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script type="text/javascript" src="js/new-age.js"></script>

<script type="text/javascript" src="js/slick-carousel.js"></script>

<script>
  var sendMail = function()
  {
    var name = document.getElementById("name").value;
    var city = document.getElementById("city").value;
    var country = document.getElementById("country").value;
    var restaurantName = document.getElementById("restaurant-name").value;
    var email = document.getElementById("email").value;
    var number = document.getElementById("phone-number").value;
    if(name ==="" || city ==="" || country ==="" || restaurantName ==="" || email ==="" || number ==="")
    {
      alert("Please fill in all the fields");
    }
    else
    {
      location.href='mailto:info@blinkneat.com?subject=Request Demo&body=Hey, I am ' + name + ' from ' + city + ',' + country + '. I would like to request a demo for my restaurant \"' + restaurantName + '\". %0A%0ASincerely,%0A' + name + '%0AEmail:' + email + '%0APhone Number:' + number;

    }
  }
</script>

</body>
</html>
